.main-container{
    /* align-items: center; */
    /* align-content: center; */
}
.container{
    text-align: center;
    border: 1px solid black;
    width: 350px;
    
    margin: auto;
}
input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pending{
    color: grey;
}
.correct{
    color: green;
    font-weight: bold;
}
.incorrect{
    color: red;
    font-weight: bold;
}