.main-container{
    /* align-items: center; */
    /* align-content: center; */
}
.container{
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    width: 350px;
    margin: auto;

}
input{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(235, 233, 231);
    border: none;
    padding: 5px;
    
}
.pending{
    color: grey;
}
.correct{
    color: green;
    font-weight: bold;
}
.incorrect{
    color: red;
    font-weight: bold;
}